{
  "extends": "airbnb",
  "plugins": [
    "import",
    "jest"
  ],
  "env": {
    "browser":false,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/prefer-stateless-function": false,
    "indent": [2, 2],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }]
  }
}