.resultsList {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
.result {
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: auto;
  column-gap: 30px;
}

.resultInfo {
  grid-column: span 1,
}
