.App {
  width: 70vw;
  margin: 0 auto;
}

.resultsList {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
.result {
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: auto;
  column-gap: 30px;
  margin: 10px;
}
.result .title h3 {
  display: inline-block;
  margin: 0;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resultInfo {
  grid-column: span 1;
  border-top: solid #848484;
  border-width: 1px;
}


/* Stars */
.ratings {
  position: relative;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.fullRatingIcons{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.emptyStars:before,
.fullRatingIcons.fullStars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.emptyCircles:before,
.fullRatingIcons.fullCircles:before {
  content: "\25CF\25CF\25CF\25CF\25CF";
  font-size: 14pt;
}

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars{
    color: #ECBE24;
  }
}