.App {
  width: 70vw;
  margin: 0 auto;
}

.AppLogo {
  width: 100%;
}

.AppHeader {
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: 50px;
  margin: 10px;
}

.topPane {
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: 50px;
  margin: 10px;
}

.result {
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: 125px;
  column-gap: 30px;
  margin: 10px;
}

.resultImage img {
  position: absolute;
}

.result .title h3 {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.result .title p {
  font-size: 12px;
  color: grey;
  margin: 0;
}

.resultInfo {
  display: grid;
  grid-template-rows: 25% 60% 15%;
  grid-column: span 1;
  border-top: solid #848484;
  border-width: 1px;
}

.promotionBox {
  position: relative;
  display: inline-block;
  background: white;
  line-height: 30px;
  max-width: 80%;
  padding: 0 5px 0 5px;
  top: 20px;
  font-weight: bold;
  color: red; 
}

.dollar:before {
  content: '$';
  font-size: 14px;
  vertical-align: text-top;
}


/* Rating Icons */
.ratings {
  position: relative;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
  margin-left: 10px;
}

.fullRatingIcons{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.emptyStars:before,
.fullRatingIcons.fullStars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.emptyCircles:before,
.fullRatingIcons.fullCircles:before {
  content: "\25CF\25CF\25CF\25CF\25CF";
  font-size: 14pt;
}